*{
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  }
  html{
    margin: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    height: 100%;
    overflow-x: hidden;
  }
  
  body {
    /*overflow-y: hidden; /* Impede a rolagem vertical   */
    flex-grow: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
  }
  .buttonClass {
    font-family: 'Cormorant', serif;
    font-size:18px;
    border-radius:12px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    color:#ffffff;
    background-color:#0a0a0a;
    outline:none;
    border:none;
    cursor:pointer;
    display:inline-block;
    text-decoration: none;
    display: flex;
    align-items: center; 
    text-align: center;
    justify-content: center;
    width: 150px;
  }
  .buttonClass:hover {
    color:#ffffff;
    background-color:#414141;
  }
  .buttonContato{
    padding-top: 30px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  }
                           
  a{
    color: #ffffff;
    text-decoration: none;
  }
  a:hover{
    opacity: 0.7;
  }
  .logo{
    font-size: 24px;
    letter-spacing: 4px;
  }
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: rgb(31, 30, 30);
    height: 8vh;
  }
  .nav-list {
    list-style: none;
    display: flex;
  }
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  .conteudo{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    padding: 100px;
  }
  .container{
    padding: 2px 16px;
  }
  .footer{
    background-color: rgb(31, 30, 30);
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    bottom: 0;
    left: 0;
  }
  .containerFooter{
    width: 33%;
    margin: 10px;
    text-align: center;
    align-items: center;
    bottom: 0;
    left: 0;
  }
  .containerNavFooter{
    width: 33%;
    margin: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
  }
  .containerFooterTermos{
    width: 33%;
    margin: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
   }

   
.gridRedes{
  justify-content: space-around;
  margin: 20px;
  display: flex;
  gap: 6rem;
  
}

#Github{
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
}

#Instagram{
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
}

#Linkedin{
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
}

