* {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

#mensagem{
  resize: none;
}

*:focus {
  outline: none;
}
html {
  margin: 0;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  /*overflow-y: hidden; /* Impede a rolagem vertical   */
  flex-grow: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

.buttonClass {
  font-family: 'Cormorant', serif;
  font-size: 18px;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: #0a0a0a;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 150px;
}

.buttonClass:hover {
  color: #ffffff;
  background-color: #414141;
}

.buttonContato {
  padding-top: 30px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: rgb(31, 30, 30);
  height: 20vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.conteudo {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  padding: 100px;
}

.container {
  padding: 2px 16px;
}
.sobreTitulo {
  margin-bottom: 2rem;
  text-align: center;
}

.footer {
  background-color: rgb(31, 30, 30);
  color: white;
  display: flex;
  width: 100%;
  height: 20vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  bottom: 0;
  left: 0;
  align-items: center; 
  justify-content: center; 
  height: 30vh; 
}

.logo2{
  font-size: 24px;
  letter-spacing: 4px;
  padding-left: 10px;
}

.gridRedes {
  justify-content: center;
  display: flex;
  gap: 6rem;
  margin-top: 100px;
}

#copy{
  text-align: center;
  margin-top: 2rem;
  font-size: 12px;
  margin-top: 100px;
}

.containerFooterTermos {
  width: 10%;
  margin: 10px;
  text-align: center;
  bottom: 0;
  left: 0;
}

#politica{
  margin: 50px;
}
