*{
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  }
  html{
    margin: 0px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    height: 100%;
  }
  
  body {
    /*overflow-y: hidden; /* Impede a rolagem vertical   */
    margin-bottom: 20vh;
  }

  /* .logo-banner{
    width: 40px;
    padding: 50px;
    display: relative;
    position: relative;
  }  */
  

  .buttonClass {
    font-family: 'Cormorant', serif;
    font-size:18px;
    border-radius:12px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    color:#ffffff;
    background-color:#0a0a0a;
    outline:none;
    border:none;
    cursor:pointer;
    display:inline-block;
    text-decoration: none;
    display: flex;
    align-items: center; 
    text-align: center;
    justify-content: center;
    width: 100px;
  }
  .buttonClass:hover {
    color:#ffffff;
    background-color:#414141;
  }
  .buttonContato{
    padding-top: 30px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  }
                           
  a{
    color: #ffffff;
    text-decoration: none;
  }
  a:hover{
    opacity: 0.7;
  }
  .logo{
    font-size: 24px;
    letter-spacing: 4px;
  }
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: rgb(31, 30, 30);
    height: 8vh;
  }
  .nav-list {
    list-style: none;
    display: flex;
  }
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  .conteudo{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    padding: 100px;
  }
  .container{
    padding: 2px 16px;
  }
  .fim{
    margin-top: 10%;
  }
  .footer{
  background-color: rgb(31, 30, 30);
  bottom: 0;    
  color: white;
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 20vh;
  padding-top: 10vh;
  }
  .footer1{
    width: 33%;
    margin: 10px;
    text-align: center;
    align-items: center;
  }
  .footer2{
    width: 33%;
    margin: 10px;
    text-align: center;
  }
  .footer3{
    width: 33%;
    margin: 10px;
    text-align: center;
   }
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #000000;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .footer{
      display: none;
    }
  } 
  .nav-list.active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* AJUSTE DOS FORMULARIOS CONTATO */
  

.titutloContato{
  margin-left: 40px;
}
.formularioContato{
  width: 50%
}

  form {
    font-family: Arial, sans-serif;
    width: 40%; /* Ajuste a largura conforme necessário */
    margin-bottom: 400px;
    margin-left: 40px;
    height: 100px;
    display: absolute;
  
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }